---
- name: Install apt prerequisites
  apt:
    update_cache: yes
    name: [ 'apt-transport-https', 'ca-certificates', 'curl', 'gnupg-agent', 'software-properties-common', 'python3-pip' ]
    state: latest

- name: Install Docker's GPG key
  apt_key:
    id: 0EBFCD88
    url: "https://download.docker.com/linux/ubuntu/gpg"

- name: Add Docker CE apt repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"

- name: Install Docker
  apt:
    update_cache: yes
    name: [ docker-ce=5:28.5.2-1~ubuntu.24.04~noble, docker-ce-cli=5:28.5.2-1~ubuntu.24.04~noble, containerd.io ]
    allow_downgrade: yes
